body{
    font-family: "Poppins", sans-serif;
}


@font-face {
    font-family: "Mortend";
    src: url('../fonts/Mortend.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.shadow-nopal{
    box-shadow: 0 0 30px #FF1818 !important;
}

.shadow-blue-nopal{
    box-shadow: 0 0 20px #9a3333 !important;
}