.custom-table {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th {
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.custom-table td {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#showTableBtn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#showTableBtn:hover {
    background-color: darkblue;
}

#HomeBtn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.HomeBtn{
    text-decoration: none;
}

#HomeBtn:hover {
    background-color: darkblue;
}
